@mixin themable($theme-name, $color1, $color2, $color3, $color4) {
  .#{$theme-name} {
    .container {
      margin: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 4px;
      grid-row-gap: 4px;
    }

    .header {
      background-color: $color1;
      grid-area: 1 / 1 / 2 / 5;

      h1 {
        color: $color2;
      }
    }

    .footer {
      background-color: $color1;
      grid-area: 4 / 1 / 5 / 5;

      ul {
        color: $color2;
        margin: 0;
        padding: 0;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
      }

      li {
        align-items: center;
        display: flex;
        padding: 0 2em;
        font-size: 20px;

        a:hover {
          cursor: pointer;
        }
      }
    }

    .left {
      background-color: $color2;
      color: $color3;
      grid-area: 2 / 1 / 4 / 3;

      div {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
      }
    }

    .right {
      background-color: $color4;
      color: $color3;
      grid-area: 2 / 3 / 4 / 5;

      div {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
      }
    }
  }
}
